<!doctype html>
<html lang="en">
    <head>
      <title>Redification and Subscription</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
      <script>
        $(document).ready(function(){
            $("#button-id").click(function(){
                $.ajax({url: "hello"}).done(
                  function(result){$("#div1").html(result);}
                );
            });
        });
      </script>
    </head>
    <body>
        <div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>
        <button id="button-id">Get External Content</button>
        <div class="container">
          <h2>Redification Table</h2>
          <table class="table" id="redification-table">
            <thead>
              <tr>
                <th data-field="category">Categoty</th>
                <th data-field="redification">Redification</th>
              </tr>
            </thead>
          </table>
        </div>
        <script src="{{ url_for('static', filename='scripts/table.js')}}"></script>
        <!--<script>
          $(document).ready(function(){
              $.ajax({
                  url: "/table_data"
              }).done(function(response) {
                  $('#redification-table').bootstrapTable({
                      data: response.result
                  });
              });
          });

        </script>-->
    </body>
</html>
